{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Jugadores{% endblock %}

{% block content %}
<table class="table">
	<th>Autor</th>
	<th>Nombre de Investigacion</th>
	<th>Tipo de Investigacion</th>
	<th>_|_</th>
	<th>Acciones</th>
	<th>_|_</th>
	{% for Investigacion in inv %}
		<tr>
			<td>{{ Investigacion.autor }}</td>
			<td>{{ Investigacion.nombre_investigacion}}</td>
			<td>{{ Investigacion.tipo_investigacion}}</td>
			<td><a href="#">detail</a></td>
			<td><a href="#">update</a></td>
			<td><a href="#">delete</a></td>
		</tr>
{% endfor %}
</table>
{% endblock %}
